h1{color: purple;}
h1{font-size: 40px;}
p{text-transform: uppercase;}
.img1{
  margin: 35px;
  padding: 35px;
  border: 35px;
}
#font1{font-family: monospace;}
.div1{
  position: fixed;
  top : 100px;
  left:100px;
}
.div2{
  position: relative;
  right:100px;
}
.div3{
  position: absolute;
  right: 100px;
}
h2,h3{
  color: red;
}
.div4 p{
  color: green;
}
body p{
  color: green;
}
